.holder {
    /*position: relative;*/
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0px;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
}

.image-book {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    padding: 3px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image {
    opacity: 1;
    display: block;
    width: 280px;
    height: 190px;
    max-width: 100%;
    max-height: 100%;
    padding: 3px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.show-up {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.holder:hover {
    box-shadow: 0 0 22px 22px rgba(76,175,80, 0.5);
}

.holder:hover .image {
    opacity: 0.3;
}

.holder:hover .show-up {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 10px;
    padding: 8px 32px;
    border: 3px solid rgb(76,175,80);
    border: 3px solid rgba(76,175,80, .4);
    border-radius: 8px;
    background-clip: padding-box;
}