@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }

    .Login form h1 {
        color: #9b859b;
        text-align: center;
    }

    .input-group-addon {
        background-color: #fff;
    }

    .form-control:focus {
        border-color: #9b859b;
        box-shadow: 0 1px 1px #9b859b inset, 0 0 8px #9b859b;
    }

    .button-container {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .btn-default {
        background-image: none;
    }

    .btn-default:hover {
        background-color: #fff;
    }

    .login-container {
        max-width: 480px;
        margin: auto;
        border: solid 5px rgba(128, 0, 128, 0.29);
        border-radius: 3%;
        background-image: url("../images/login_bg.jpg");
    }
}

