.navDiv {

    -webkit-box-shadow: rgba(0, 0, 0, .25) 0 5px 5px;
    box-shadow: rgba(0, 0, 0, .25) 0 5px 5px;

    -webkit-border-radius: 6px;
    border-radius: 6px;

    /*background: #9b859b;  !* fallback for old browsers *!*/
    background-image: -webkit-linear-gradient(#8f728f70, #9b859b 15%,#8f728f 85%, #8f728f70);
    background-image: linear-gradient(#8f728f70, #9b859b 15%,#8f728f 85%, #8f728f70);
    background-size: 100%;


    /*background: -webkit-linear-gradient(to right, #9b859b, #8f728f);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #9b859b, #8f728f); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*background-size: 100%;*/



    background-clip: content-box;
    margin-bottom: 0;
    border: 0;

    display: flex;
}

.navDiv h1 {
    color: white;
    /* margin: auto; */
    margin: 0px;
    padding: 10px;
    border-right: solid 1px #fff;
    max-width: 200px;
    text-align: center;
    display: inline;
    font-family: monospace;

    font-size: 25px;
}

.navDiv h1:hover {
    color: #dedbdb;
    cursor: pointer;
}

.navDiv h1:nth-child(1):nth-last-child(4),
        h1:nth-child(2):nth-last-child(3),
        h1:nth-child(3):nth-last-child(2),
        h1:nth-child(4):nth-last-child(1)
{
        width: 25%;
}