.card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 1rem;
}

.card {
    display: grid;
}

.card:hover {
    opacity: 0.5;
    cursor: pointer;
}

.card .button {
    align-self: end;
}

/* Simple Card styles for prettying */

* {
    box-sizing: border-box;
}

.card {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
}

.card__title {
    font-size: 1.4rem;
    padding: .5rem;
    text-align: center;
}

.card__description {
    padding: .5rem;
    line-height: 1.6em;
}

.card__thumbnail {
    width: 250px;
    height: 250px;
    padding: 5px;
}

.button {
    display: block;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
}
.button:hover {
    background-color: #ff3814;
}

img {
    max-width: 100%;
}